streamlit
openai
faiss-cpu
pypdf
langchain==0.1.14
langchain-openai==0.0.6
langchain-community==0.0.35
tiktoken
pydantic
pydantic-settings
python-dotenv
boto3
pandas
matplotlib
python-docx
nltk
toml
unstructured==0.11.0
watchdog
